.main-app{
    display: flex;
    flex-direction: row;
}

.form-container{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    height: 420px;
    width: 400px;
    padding: 20px;
    margin: 20px;
}

.search-container{
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: center;
}

.result-container{
    width: 90%;
    height: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.userCard{
    height: 100px;
    width: 90%;
    padding: 5px;
    background-color: #EAEAEA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
/*    border-radius: 10px;*/
}

.userCard h3{
    margin-bottom: 0;
}

.userSubInfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#searchbox{
    width: 100%;
}